
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5">Measured Take Home</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      We've got a quiz to take
    </p>
    <p>
      <%= link_to 'Take the Quiz!!!', new_quiz_path, class: 'btn btn-primary' %>
    </p>
  </div>
</div>